@{
    ViewData["Title"] = "Pagina principal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Página de Inicio - SCM - Sistema de Citas Médicas &copy; 2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/c903d303d4.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column align-items-center">

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="text-end me-5">
        <h1 class="fs-4">
            <i class="fa-solid fa-hospital my-5 fs-1"></i>
            Bienvenido
        </h1>
        <p style="font-size: 36px; font-family: 'Trebuchet MS'; font-weight: bold; color: #007bff;">
            <span style="padding: 5px;">¡Cuidando vidas con pasión y excelencia!</span>
        </p>
    </div>
    <div class="ms-5">
        <img src="https://img.freepik.com/foto-gratis/doctor-pensando-sobre-fondo-blanco-aislado_1368-5828.jpg?w=2000" alt="Imagen del hospital" width="500" height="500">
    </div>
</div>

<div class="d-flex justify-content-center mt-5">
    <div class="card-deck">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/1572/1572132.png" class="card-img-top" alt="Imagen 1" width="150" height="150">
            <div class="card-body">
                <h5 class="card-title">Agendar Cita</h5>
                <button class="btn btn-primary">Ir</button>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/1430/1430402.png" class="card-img-top" alt="Imagen 2" width="150" height="150">
            <div class="card-body">
                <h5 class="card-title">Agregar Paciente</h5>
                <button class="btn btn-primary">Ir</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <div class="card-deck">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3481/3481061.png" class="card-img-top" alt="Imagen 3" width="150" height="150">
            <div class="card-body">
                <h5 class="card-title">Agregar Doctor</h5>
                <button class="btn btn-primary">Ir</button>
            </div>
        </div>
        <div class="card">
            <img src="https://dharmamedicinaregenerativa.com.ar/wp-content/uploads/2023/03/2618588-1.png" class="card-img-top" alt="Imagen 4" width="150" height="150">
            <div class="card-body">
                <h5 class="card-title">Agregar Especialidad</h5>
                <button class="btn btn-primary">Ir</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
